@use "abstracts" as *;

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;

  &.home {
    background-image: url(../assets/home/background-home-mobile.jpg);

    @include breakpoint(medium) {
      background-position: center center;
      background-image: url(../assets/home/background-home-tablet.jpg);
    }
    @include breakpoint(large) {
      background-image: url(../assets/home/background-home-desktop.jpg);
    }
  }

  &.destination {
    background-image: url(../assets/destination/background-destination-mobile.jpg);
    background-position: left center;

    @include breakpoint(medium) {
      background-image: url(../assets/destination/background-destination-tablet.jpg);
    }
    @include breakpoint(large) {
      background-image: url(../assets/destination/background-destination-desktop.jpg);
      background-position: right center;
    }
  }
}
