@use "abstracts" as *;

.destination {
  display: flex;
  flex-direction: column;
}

.wrapper {
  text-align: center;
  max-width: rem(415);
  margin: 1rem auto;

  @include breakpoint(medium) {
    width: 90%;
    max-width: unset;
    margin: auto;
    padding-top: 2rem;
  }

  @include breakpoint(large) {
    max-width: rem(1100);
    text-align: start;
  }

  .numbered-title {
    margin-bottom: rem(30);
    @include breakpoint(medium) {
      text-align: start;
    }
    @include breakpoint(large) {
      margin-bottom: rem(50);
    }
  }

  .container {
    flex-direction: column;
    max-width: rem(650);

    @include breakpoint(large) {
      max-width: unset;
      flex-direction: row;
      padding: 0;
    }

    .d-img,
    .d-info-right {
      @include breakpoint(large) {
        flex: 1;
      }
    }
    .d-img {
      height: rem(170);
      width: rem(170);
      margin: 1rem auto;
      @include breakpoint(medium) {
        height: rem(300);
        width: rem(300);
      }
      @include breakpoint(large) {
        height: unset;
        width: unset;
        max-height: rem(445);
        max-width: rem(445);
      }
    }
  }
  .d-info-right {
    @include breakpoint(large) {
      max-width: rem(445);
    }
  }
  .planet-title {
    margin: 2rem 0 1rem;
  }

  hr {
    margin: 2.5rem 0;
  }

  .data-container {
    flex-direction: column;
    text-transform: uppercase;

    @include breakpoint(medium) {
      flex-direction: row;
      justify-content: space-evenly;
    }
    @include breakpoint(large) {
      justify-content: start;
      gap: 5rem;
    }

    .planet-data {
      display: grid;
      gap: 0.5rem;
      margin-bottom: 1.5rem;
      @include breakpoint(large) {
        margin-bottom: 0;
      }
    }

    .data-label {
      font-size: var(--fs-200);
      font-family: var(--ff-condensed);
      color: hsl(var(--clr-light));
      letter-spacing: 2.36px;
    }

    .data-number {
      font-size: var(--fs-600);
      font-family: var(--ff-bellefair);
    }
  }
}
