@use "abstracts" as *;

.tab-list {
  justify-content: center;
  text-transform: uppercase;
  padding: 0;

  @include breakpoint(large) {
    justify-content: start;
    --gap: 2rem;
  }

  .tab-item {
    color: hsl(var(--clr-light));
    border-bottom: 3px solid transparent;
    padding: 0 0 0.4em;
    font-size: var(--fs-200);
    letter-spacing: 2.32px;

    @include breakpoint(medium) {
      font-size: var(--fs-300);
      letter-spacing: 2.7px;
    }
    &:hover {
      border-bottom: 3px solid hsl(var(--clr-white) / 0.4);
    }
    &.active {
      color: hsl(var(--clr-white));
      border-bottom: 3px solid inherit;
    }
  }

  .tab-link {
    color: inherit;
    padding: 0 0 0.5em;
  }
}
